<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item active">Статистика</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h5 class="mb-2">Статус Склада</h5>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fa fa-cubes"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Общее кол-во товаров</span>
                  <span class="info-box-number">
                    {{#if product_quantity }}
                    {{currencyFormat product_quantity}}
                    {{else}}
                    0
                    {{/if}}
                  </span>
                </div>
                  
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Товары 1-го сорта</span>
                  <span class="info-box-number">
                    {{#if sort1_quantity}}
                    {{currencyFormat sort1_quantity}}
                    {{else}}
                    0
                    {{/if}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-clock"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Последнее обновление</span>
                  <span class="info-box-number">{{formatTime update_date "YYYY-MM-DD"}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Покупатели</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="text-bold text-lg">{{client_number}}</span>
                  <span>Количество текущих покупателей</span>
                </p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="myChart" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Продажи</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="text-bold text-lg">
                    {{#if deal_cost}}
                    {{currencyFormat deal_cost}} 
                    {{else}}
                    0
                    {{/if}} UZS</span>
                  <span>Продажи за промежуток времени</span>
                </p>
              </div>
              <div class="position-relative mb-4">
                <canvas id="myBar" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Последние Сделки</h3>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Дата сделки</th>
                    <th>Клиенты</th>
                    <th>Цена сделки(UZS)</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each latest_deals}}
                  <tr>
                    <td>{{formatTime deal_date "YYYY-MM-DD"}}</td>
                    <td>{{Client.first_name}}</td>
                    {{#if final_price}}
                    <td>{{currencyFormat final_price}}</td>
                    {{else}}
                    <td>0</td>
                    {{/if}}
                  </tr>
                  {{/each }}
                </tbody>
              </table>
            <a href="/deals/deals-history" class="btn btn-info float-right btn-sm mt-2"><i class="fa fa-list "></i></a>  
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
          <div class="card-header">
            <h3 class="card-title">Последние добавленные продукты</h3>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Наименование</th>
                  <th>Код</th>
                  <th>Рисунок</th>
                  <th>Сорт</th>
                  <th>Цена (UZS)</th>
                </tr>
              </thead>
              <tbody>
                {{#each latest_products}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{product_name}}</td>
                  <td>{{overall_code}}</td>
                  <td>{{drawing}}</td>
                  <td>{{sort}}</td>
                  {{#if price}}
                  <td>{{currencyFormat price}}</td>
                  {{else}}
                  <td>0</td>
                  {{/if}}
                </tr>
                {{/each}}
                
              </tbody>
            </table>
            <a href="/product/price-list" class="btn btn-info float-right btn-sm mt-2"><i class="fa fa-list "></i></a>  
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/dist/js/adminlte.min.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.js"></script>
<script src="/plugins/chart.js/charts.js"></script>
<script >
  
  var d = new Date();
  var curr_month = d.getMonth()+1;

  var months = ['Январь','Февраль','Mарт','Aпрель','Mай','Июнь','Июль','Aвгуст','Сентябрь','Oктября','Ноябрь','Декабрь'] 
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'line',

  // The data for our dataset
  data: {
  labels: months,
  datasets: [{
      label: 'Количество клиентов в месяц',
      borderColor: '#007bff',
      data: 
      [
          {{client_jan}},
          {{client_feb}},
          {{client_mar}},
          {{client_apr}},
          {{client_may}},
          {{client_jun}},
          {{client_jul}},
          {{client_aug}},
          {{client_sep}},
          {{client_oct}},
          {{client_nov}},
          {{client_dec}},
      ]
  }]
},

  // Configuration options go here
  options: {}
  });
</script>
<script>
function numberWithCommas(x) {
           return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
 
var ctx = document.getElementById('myBar');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Январь','Февраль','Mарт','Aпрель','Mай','Июнь','Июль','Aвгуст','Сентябрь','Oктября','Ноябрь','Декабрь'] ,
        datasets: [{
            label: 'UZS ',
            data: [
              {{deal_cost_jan}},
              {{deal_cost_feb}},
              {{deal_cost_mar}},
              {{deal_cost_apr}},
              {{deal_cost_may}},
              {{deal_cost_jun}},
              {{deal_cost_jul}},
              {{deal_cost_aug}},
              {{deal_cost_sep}},
              {{deal_cost_oct}},
              {{deal_cost_nov}},
              {{deal_cost_dec}}
            ],
            borderColor: '#007bff',
            
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

 
