<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <nav aria-label="breadcrumb float-sm-left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/client/client-list">Клиенты</a></li>
                            <li class="breadcrumb-item active font-weight-bold" >Профиль клиента</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-3">
                    <a href="/client/create-deal/{{client.id}}" class="btn btn-success"><i class="fa fa-file-contract"></i>  Новая Сделка</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body box-profile">
                            <h3 class="profile-username font-weight-bold">{{client.full_name}} 
                                <a href="/client/client-edit/{{client.id}}" class="float-right"><i class="fa fa-edit"></i></a>
                            </h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Телефон:</b> <span class="float-right">{{client.phone_number}}</span>
                                </li>
                                <li class="list-group-item" style="border-bottom: none;">
                                    <b>Компания:</b> <span class="float-right">{{client.company}}</span>
                                </li>
                                <li class="list-group-item" style="border-bottom: none;">
                                    <b>Долг:</b> <span class="float-right text-danger">{{currencyFormat client.balance}} UZS </span>
                                </li>
                                <li class="list-group-item">
                                    <b>Предоплата:</b> <span class="float-right text-success">{{currencyFormat client.balance}} UZS </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Общая Информация</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-cart-arrow-down mr-1"></i> Кол-во Сделок</strong>
                            <p class="text-muted">{{deals_number}}</p>
                            <hr>
                            
                            <strong><i class="fas fa-donate mr-1"></i> Общая Стоимость Сделок</strong>
                            <p class="text-muted">
                                {{overall_deals_price}} UZS
                            </p>
                            <hr>

                            <strong><i class="fas fa-calendar-check mr-1"></i> Последняя Сделка</strong>
                            <p class="text-muted">
                                {{last_deal_at}}
                            </p>
                        </div>
                    </div>
                </div>    
                
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Сделки</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="dealsTable"  class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Общая Цена</th>
                                            <th>Скидка</th>
                                            <th>К Оплате</th>
                                            <th>Оплачено</th>
                                            <th>Долг</th>
                                            <th>Подробнее</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each deals}}
                                        <tr>
                                            <td>{{formatTime deal_date "YYYY-MM-DD"}}</td>
                                            
                                            {{#if fixed_price}}
                                                <td>{{currencyFormat fixed_price}}</td>
                                            {{else}}
                                                <td>0</td>
                                            {{/if}}

                                            {{#if cash_discount}}
                                                <td>{{currencyFormat cash_discount}}</td>
                                            {{else}}
                                                <td>0</td>
                                            {{/if}}
                                            
                                            {{#if final_price}}
                                                <td>{{currencyFormat final_price}}</td>
                                            {{else}}
                                                <td>0</td>
                                            {{/if}}

                                            {{#if paid_cash}}
                                            <td class="text-success text-bold">{{currencyFormat paid_cash}}</td>
                                            {{else}}
                                            <td>0</td>
                                            {{/if}}

                                            {{#if final_price}}
                                            <td class="text-danger text-bold">{{currencyFormat (math  final_price "-" paid_cash)}}</td>
                                            {{else}}
                                            <td>0</td>
                                            {{/if}}
                                            
                                            <td>
                                                <a href="/client/client-deal-detail/{{id}}"  class="btn btn-primary">Подробнее</a>
                                            </td>
                                        </tr>
                                        {{/each }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<script src="/dist/js/adminlte.min.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.js"></script>
<script src="/plugins/select2/js/select2.full.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
    $(function () {
        $("#dealsTable").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });
</script>
    