    
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm">
                        <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active">Прайслист</li>
                        </ol>
                    </div> 
                </div> 
            </div> 
        </div>


        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> Обновить продукт </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                
                                <div class="row" class="align-items:center">
                                    
                                    <div class="col-12">
                                        {{#each product}}
                                        <form action="/product/product-edit/{{id}}" method="POST">
                                        
                                        <h2>Изменение текущих значений продукта</h2>
                                        
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label>Название продукта</label>
                                                    <input type="text" name="update_name" id="product_name" placeholder="{{product_name}}"  class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Код</label>
                                                    <input type="number" name="update_name_code" id="name_code" placeholder="{{name_code}}" style="font-weight:bold"  class="form-control" >
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {{/each}}
                                        <div class="row">
                                            <div class="col-md-8 mb-3">
                                                <div class="form-group">
                                                    <label>Рисунок</label>
                                                    <select class="form-control select2" name="update_drawing" id="drawing">
                                                        <option disabled="disabled" selected="selected" style="display:none;" value="{{current_drawing}}">{{current_drawing}}</option>
                                                        {{#each product_image}}
                                                        <option value="{{name}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                    {{!-- <span class="text-danger" id="">Product picture validation message here</span> --}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Код</label>
                                                    <input type="number" name="update_drawing_code" id="drawing_code" class="form-control select2" style="font-weight:bold" required  readonly value="{{current_drawing_code}}">
                                                    {{!-- <span class="text-danger" id="">Product code validation message here</span> --}}
                                                </div>
                                            </div>
                                        </div>
                                        {{#each product}}
                                        
                                        
                                        <div class="row mb-4">
                                            <div class="col-4">
                                                <label>Сорт</label>
                                                <select name="update_sort" id="" class="form-control">
                                                    <option disabled="disabled" selected="selected" style="display:none;" value="{{sort}}">{{sort}}</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                            <div class="col-4" style="margin-top:36px;">
                                                <div class="custom-control custom-checkbox" style="padding-left:18rem;">
                                                    
                                                    <!-- WITH ADDITIONAL SERVICE -->
                                                    {{#if AdditionalServiceId}}
                                                    <input class="custom-control-input" type="checkbox" id="serviceCheckbox2"  name="serviceCheckbox2" checked>
                                                    {{else}}
                                                    <!-- NO ADDITIONAL SERVICE -->
                                                    <input class="custom-control-input" type="checkbox" id="serviceCheckbox2"  name="serviceCheckbox2">
                                                    {{/if}}
                                                    <label for="serviceCheckbox2" class="custom-control-label">Дополнительная услуга</label>
                                                </div>
                                                    
                                            </div>
                                        

                                            <div class="col-4"  style="margin-top:30px">
                                                
                                                <select name="update_service" id="update_service" class="form-control select2" 
                                                {{#if AdditionalServiceId}}
                                                {{else}} 
                                                    disabled
                                                {{/if}}
                                                >
                                                <!-- IF ADDITIONAL SERVICE NOT EXIST SELECT DROPDOWN WILL BE DISABLED -->
                                                
                                                    <!-- ADDITIONAL SERVICE EXIST - CURRENT VALUE DISPLAYED-->
                                                    {{#if AdditionalServiceId}}
                                                    <option disabled="disabled" selected="selected" style="display:none;" value="{{Additional_Service.id}}">{{Additional_Service.name}}</option>
                                                    {{else}}
                                                    <!-- ADDITIONAL SERVICE NOT EXIST - VALUE IS NULL -->
                                                    <option disabled="disabled" selected="selected" style="display:none;" value="">Выберите один</option>
                                                    {{/if}}
                                        {{/each}}
                                                    {{#each services}}
                                                    <option value="{{id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            
                                            </div>
                                        </div>
                                        
                                        {{#each product}}

                                        <div class="form-group">
                                            <label>Цена (UZS)</label>
                                            <input type="number" name="update_price" placeholder="{{price}}"  class="form-control"  min="0">
                                        </div>

                                        {{/each}}

                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Изменить">
                                            
                                        </div>
                                    
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
 
    
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/dist/js/demo.js"></script>

    <script>
        $('#serviceCheckbox2').click(function(){
     
    if($(this).is(':checked')){
         
        $('#update_service').attr("disabled", false);
        $('#update_service').attr("required", true);
        
    } else{
        
        $('#update_service').attr("disabled", true);
    
    }
    });
    </script>


    <script>
        const search = document.getElementById('drawing');
        const search_name = document.getElementById('product_name');
        const name_code = document.getElementById('name_code');
        const drawing_code = document.getElementById('drawing_code');
        
        const searchDrawings = async searchText => {
            const res = await fetch('/product/product-constant');
            const drawings = await res.json();
            
            
            drawings.forEach(function (item) {

                if(item.name === searchText)
                {
                    document.getElementById('drawing_code').value = item.code;
                }    
            });
        };
        
        
        const searchNames = async searchText => {
            const res = await fetch('/product/product-search');
            const products = await res.json();

            let matches = products.filter( product => {
                const regex = new RegExp(`${searchText}`, 'gi');

                return product.product_name.match(regex);
            });

            if(searchText.length === 0) {
                matches = [];
            }

            displayNameCode(matches);
        }

        const displayNameCode = matches => {
            if(matches.length > 0) {
                matches.map(match=>{
                    document.getElementById('name_code').value = match.name_code;
                })
            }
            else {
                document.getElementById('name_code').value = null;
            }
        }
        
        search.addEventListener('change', () => searchDrawings(search.value));
        search_name.addEventListener('input', () => searchNames(search_name.value));
        name_code.addEventListener('input', () => searchByCode(name_code.value));
        drawing_code.addEventListener('input', () => searchByDrawingCode(drawing_code.value));
    </script>

