<div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active">Прайслист</li>
                    </ol>
                </div>
            </div>
        </div>    
    </div>
    
    <section class="content">
        
        <div class="row">
            <div class="col-3">
                <a href="/product/product-create" class="btn btn-success mb-4"><i class="fa fa-plus-circle"></i> Создать продукт</a>
            </div>
        </div>
       <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Список товаров</h3>
                    </div>
                    
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5px;">№</th>
                                    <th style="width:240px;">Наименование Продкции</th>
                                    <th style="width:80px;">Рисунок</th>
                                    <th style="width:80px;">Сорт</th>
                                    <th>Доп. услуга</th>
                                    <th style="width:150px;">Код продукта</th>
                                    <th>Цена (UZS)</th>
                                    <th>Цена с доп. услугой(UZS)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products }}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{product_name}}</td>
                                    <td>{{drawing}}</td>
                                    <td>{{sort}}</td>
                                    
                                    {{#if AdditionalServiceId}}
                                        <td class="text-success text-bold">{{Additional_Service.name}}</td>
                                    {{else}}
                                        <td class="text-danger text-bold">БЕЗ УСЛУГ</td>
                                    {{/if}}
                                    
                                    <td>{{overall_code}}</td>
                                    
                                    {{#if price}}
                                        <td>{{currencyFormat price}} </td>
                                    {{/if}}

                                    {{#if price}}
                                        {{#if AdditionalServiceId}}
                                            <td class="text-success text-bold">{{currencyFormat (math price "+" Additional_Service.price)}}</td>
                                        {{else}}
                                            <td class="text-danger text-bold">БЕЗ УСЛУГ</td>
                                        {{/if}}
                                    {{/if}}
                                    
                                    
                                    <td style="width:20px;">
                                        <a href="/product/product-edit/{{id}}">
                                            <button type="button"
                                                class="btn btn-primary btn-sm"><i class="fa fa-pen"></i></button>
                                        </a>
                                        <form action="/product/product-delete/{{id}}"  method="POST" style="display:inline-block;">
                                            <button type="submit"
                                                class="btn btn-danger btn-sm mt-1" onclick="return confirm('Если вы удалите этот продукт, все истории о добавках, связанные с ним, также будут удалены. Вы действительно хотите удалить этот элемент?');"><i class="fa fa-trash"></i></button>    
                                        </form>
                                        
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    

</div>
    
    
    
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/select2/js/select2.full.min.js"></script>

<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/dist/js/demo.js"></script>



<script>
    $(function () {
        $("#example1").DataTable({
            responsive: true,
            autoWidth: false,
        });
    });
</script>
