<div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/product/price-list">Список товаров</a></li>
                        <li class="breadcrumb-item active font-weight-bold">Редактировать Продукт</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Обновить Продукт</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h2>Изменение текущих значений продукта</h2>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-12">
                                        
                                        {{#if warning}}
                                            <div class="alert alert-warning alert-dismissible fade show">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <span>
                                                    {{#each warning}}
                                                        <span>- {{msg}}</span><br>
                                                    {{/each}}
                                                </span>
                                                <table class="table table-bordered mt-2">
                                                    <thead>
                                                        <tr>
                                                            {{#each existed_product}}
                                                            <td style="border:1px solid black">Название продкта - {{product_name}} <span class="font-weight-bold">[{{name_code}}]</span></td>
                                                            <td style="border:1px solid black">Рисунок - {{drawing}} <span class="font-weight-bold">[{{drawing_code}}]</span></td>
                                                            <td style="border:1px solid black">Сорт - <span class="font-weight-bold">{{sort}}</span></td>
                                                            <td style="border:1px solid black">Цена - {{price}} (UZS)</td>
                                                            <td style="border:1px solid black">Общий код - <span class="font-weight-bold">{{overall_code}}</span></td>
                                                            {{#if AdditionalServiceId}}
                                                            <td style="border:1px solid black">Доп. услуга - ЕСТЬ</td>
                                                            {{else}}
                                                            <td style="border:1px solid black">Доп. услуга - НЕТ</td>
                                                            {{/if}}
                                                            {{/each}}
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        {{/if}} 
                                        
                                        {{#if code_error_message}}
                                            <div class="alert alert-warning alert-dismissible fade show">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <span>
                                                {{#each code_error_message}}
                                                    <span>- {{msg}}</span><br>
                                                {{/each}}
                                            </span>
                                        </div>
                                        {{/if}}
                                        
                                        {{#if error}}
                                            <div class="alert alert-danger alert-dismissible fade show">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    {{#each error}}
                                                    <span>- {{msg}}</span><br>
                                                    {{/each}}
                                            </div>
                                        {{/if}}
                                    </div>
                            </div>
                            {{#each product as |product| }}
                            <form action="/product/product-edit/{{id}}" method="POST">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="auto-container">
                                                <label>Наименование продкции</label>
                                                <br>
                                                <input
                                                    id="nameAutoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" 
                                                    name="product_name"  style="width:100%;color:black"
                                                {{#if ../req_values}}
                                                    value="{{../req_values.product_name}}"
                                                {{else}}
                                                    value="{{product_name}}"
                                                {{/if}}
                                                >
                                                
                                                
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Код</label>
                                            <input id="nameCodeAutoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" 
                                                name="name_code" min="100" max="999" style="width: 100%;color:black" 
                                            {{#if ../req_values}}
                                                value="{{../req_values.name_code}}"
                                            {{else}}
                                                value="{{name_code}}"
                                            {{/if}}
                                            >
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Рисунок</label>
                                            <input id="drawingAutoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" 
                                            name="drawing" style="width:100%;color:black" 
                                            {{#if ../req_values}}
                                                value="{{../req_values.drawing}}"
                                            {{else}}
                                                value="{{drawing}}"
                                            {{/if}}
                                            >
                                            
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Код</label>
                                            <input id="drawingCodeAutoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" 
                                            name="drawing_code" style="width:100%;color:black" 
                                            {{#if ../req_values}}
                                                value="{{../req_values.drawing_code}}"
                                            {{else}}
                                                value="{{drawing_code}}"
                                            {{/if}}
                                            >
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="">Сорт</label>
                                                    <input type="number" name="sort" class="form-control select2" style="color:black" min="1" max="5" autocomplete="off"
                                                        
                                                        {{#if ../req_values.sort}}
                                                            value="{{../req_values.sort}}"
                                                        {{else}}
                                                            value="{{sort}}"
                                                        {{/if}}
                                                    >
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="">Цена</label>
                                                    <input type="number" class="form-control"  id="price_input1"  name="price" min="1" autocomplete="off"
                                                    style="color:black"
                                                    {{#if ../req_values.price}}
                                                        value="{{../req_values.price}}"
                                                    {{else}}
                                                        value="{{price}}"
                                                    {{/if}}
                                                    >
                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="custom-control custom-checkbox float-right" style="margin-top:37px;">
                                                        <input class="custom-control-input" type="checkbox" id="serviceCheckbox1"
                                                            value="1" name="serviceCheckbox1"
                                                        {{#if AdditionalServiceId}}
                                                            checked
                                                        {{/if}}
                                                        >
                                                        <label for="serviceCheckbox1" class="custom-control-label">Доп. услуга</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <select name="service" id="add_service" class="form-control select2" style="margin-top:34px;color:black"
                                                    {{#if AdditionalServiceId}}
                                                    {{else}}
                                                        disabled
                                                    {{/if}}
                                                    >
                                                        {{#if AdditionalServiceId}}
                                                            <option selected="selected" style="display:none;" value="{{AdditionalServiceId}}">{{Additional_Service.name}}  - {{Additional_Service.price}} (UZS)</option>
                                                            <option disabled="disabled" style="display:none;" value="0">Выберите один из них</option>
                                                            {{#each ../services as |service| }}
                                                            <option value="{{id}}">{{name}}  - {{price}} (UZS)</option>
                                                            {{/each}}
                                                        {{else}}
                                                            <option disabled="disabled" selected="selected" style="display:none;" value="0">Выберите один из них</option>
                                                            {{#each ../services as |service| }}
                                                            <option value="{{id}}">{{name}}  - {{price}} (UZS)</option>
                                                            {{/each}}
                                                        {{/if}}                                                   
                                                        
                                                    </select>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                        
                        
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="submit" id="create-btn" value="Изменить" class="btn btn-info swalDefaultSuccess" name="submit">
                                                
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>

<script src="/dist/js/autocomplete/autoComplete.js"></script>
<script src="/dist/js/autocomplete/autoComplete.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.js"></script>
<script src="/dist/js/jquery-ui/jquery-ui.js"></script>
<script src="/dist/js/jquery-ui/jquery-ui.min.js"></script>
<script>
    const getProducts = async searchProduct =>{
        const response = await fetch('/product/product-search');
        products = await response.json();

        let product_names = products.map(product => product.product_name);
        let uniq_products = [...new Set(product_names)];

        const autoCompleteJS = new autoComplete({
            selector: "#nameAutoComplete",
            data: {
                src: uniq_products,
                cache: true,
            },
            resultItem: {
                highlight: true
            },
            searchEngine: "loose",
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection;
                        
                        products.map(product =>{
                            
                            if(selection == product.product_name)
                            {
                                document.getElementById('nameCodeAutoComplete').value = product.name_code;
                            }
                            
                        })
                    }
                }
            }
        });      

        

        let name_codes = products.map(product => product.name_code);
        let uniq_name_codes = [...new Set(name_codes)];

        const nameCodeAutoComplete = new autoComplete({
            selector: "#nameCodeAutoComplete",
            data: {
                src: uniq_name_codes,
                cache: true,
            },
            resultItem: {
                highlight: true,
            },
            searchEngine: "strict",
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        nameCodeAutoComplete.input.value = selection;

                        products.map(product =>{
                            
                            if(selection == product.name_code)
                            {
                                document.getElementById('nameAutoComplete').value = product.product_name;
                            }
                            
                        })
                    }
                }
            }
        });

        let drawings = products.map(product => product.drawing);
        let uniq_drawings = [...new Set(drawings)];

        const drawingAutoComplete = new autoComplete({
            selector: "#drawingAutoComplete",
            data: {
                src: uniq_drawings,
                cache: true,
            },
            resultItem: {
                highlight: true,
            },
            searchEngine: "loose",
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        drawingAutoComplete.input.value = selection;

                        products.map(product =>{
                            
                            if(selection == product.drawing)
                            {
                                document.getElementById('drawingCodeAutoComplete').value = product.drawing_code;
                            }
                            
                        })
                    }
                }
            }
        });

        let drawing_codes = products.map(product => product.drawing_code);
        let uniq_drawing_codes = [...new Set(drawing_codes)];

        const drawingCodeAutoComplete = new autoComplete({
            selector: "#drawingCodeAutoComplete",
            data: {
                src: uniq_drawing_codes,
                cache: true,
            },
            resultItem: {
                highlight: true,
            },
            searchEngine: "strict",
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        drawingCodeAutoComplete.input.value = selection;

                        products.map(product =>{
                            
                            if(selection == product.drawing_code)
                            {
                                document.getElementById('drawingAutoComplete').value = product.drawing;
                            }
                            
                        })
                    }
                }
            }
        }); 
                        
    }
    getProducts();
</script>

<script>
    $('#serviceCheckbox1').click(function(){

        if($(this).is(':checked')){
            $('#add_service').attr("disabled", false);
            $('#add_service').attr("required", true);
        } else{
            
            $('#add_service').attr("disabled", true);
            $("select#add_service").val("0");
            $('#add_service').attr("required", false);
        }
    });
</script>



