<div class="content-wrapper">
  
  <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item active">Склад</li>
        </ol>
      </div>
    </div>
  </div>
  </div>
      
  <div class="content">
    
    <div class="row mb-3">
      <div class="col-4">
        <a href="/warehouse/warehouse-replenish" class="btn btn-success"><i class="fa fa-plus-circle"></i> Пополнить</a>
        <a href="/warehouse/warehouse-supplement-story" class="btn btn-info"><i class="fa fa-history"></i> История</a>
      </div>
      
    </div>
    
    <div class="row">

      <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Списки товаров на складе</h3>
            </div>
          
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#available" role="tab" aria-controls="home" aria-selected="true">Доступные <!--товары без доп. услуг--></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#not_available" role="tab" aria-controls="contact" aria-selected="false">Недоступны <!--товары без доп. услуг--></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#with_service" role="tab" aria-controls="profile" aria-selected="false"><!--Товары с --> Доп. услугом</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="available" role="tabpanel" aria-labelledby="available-tab">
                  <div class="row mt-4">
                    <div class="col-12">
                      <table id="Table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наименование Продкции</th>
                                <th>Рисунок</th>
                                <th>Сорт</th>
                                <th>Код продукта</th>
                                <th>Кол-во</th>
                                <th>Цена (UZS)</th>
                                <th>Общая Стоимость (UZS)</th>
                            </tr>
                        </thead>

                        <tbody>
                        
                          {{#each products }}
                            
                            <tr>
                              <td>{{id}}</td>
                              <td><a href="/warehouse/single-supplement-story/{{id}}" > {{product_name}}</a></td>
                              <td>{{drawing}}</td>
                              <td>{{sort}}</td>
                              <td>{{overall_code}}</td>
                              <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                              {{#if price}}
                              <td>{{currencyFormat price}}</td>
                              <td class="text-info text-bold">{{currencyFormat (math  available_quantity "*" price)}}</td>
                              {{/if}}
                            
                            </tr>
                          
                          {{/each}} 

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
                <div class="tab-pane fade" id="not_available" role="tabpanel" aria-labelledby="not_available-tab">

                  <div class="row mt-4">
                    <div class="col-12">
                      <table id="Table2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наименование Продкции</th>
                                <th>Рисунок</th>
                                <th>Сорт</th>
                                <th>Код продукта</th>
                                <th>Кол-во</th>
                                <th>Цена (UZS)</th>
                                {{!-- <th>Общая Стоимость (UZS)</th> --}}
                                <th>Пополнить</th>
                            </tr>
                        </thead>

                        <tbody>
                        
                          {{#each not_products }}
                            
                            <tr>
                              <td>{{id}}</td>
                              <td><a href="/warehouse/single-supplement-story/{{id}}" > {{product_name}}</a></td>
                              <td>{{drawing}}</td>
                              <td>{{sort}}</td>
                              <td>{{overall_code}}</td>
                              <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                              {{#if price}}
                              <td>{{currencyFormat price}}</td>
                              {{!-- <td class="text-info text-bold">{{currencyFormat (math  available_quantity "*" price)}}</td> --}}
                              {{/if}}
                              <td>
                                <a href="/warehouse/single-replenish/{{id}}" class="btn btn-block btn-success"><i class="fa fa-plus"></i></a>  
                              </td>
                            
                            </tr>
                          
                          {{/each}} 

                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
                
                <div class="tab-pane fade" id="with_service" role="tabpanel" aria-labelledby="with_service-tab">
                  <div class="row mt-4">
                    <div class="col-12">
                      <table id="Table3" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              <th>№</th>
                              <th>Наименование Продкции</th>
                              <th>Рисунок</th>
                              <th>Сорт</th>
                              <th>Доп. услуга</th>
                              <th>Код продукта</th>
                              <th>Кол-во</th>
                              <th>Цена (UZS)</th>
                              <th>Цена с доп. услугой(UZS)</th>
                              <th>Общая Стоимость (UZS)</th>
                            </tr>
                        </thead>

                        <tbody>
                        
                          {{#each service_products }}
                            
                            <tr>
                              <td>{{id}}</td>
                              <td><a href="/warehouse/single-supplement-story/{{id}}" > {{product_name}}</a></td>
                              <td>{{drawing}}</td>
                              <td>{{sort}}</td>
                              <td class="text-bold">{{Additional_Service.name}}</td>
                              <td>{{overall_code}}</td>
                              <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                              {{#if price}}
                                <td>{{currencyFormat price}}</td>
                              {{/if}}
                                <td class="text-bold">{{currencyFormat (math price "+" Additional_Service.price)}}</td>
                              {{#if price}}
                                <td class="text-info text-bold">
                                  {{currencyFormat (math  available_quantity "*" (math price "+" Additional_Service.price))}}
                                </td>
                              {{/if}}
                            </tr>
                          
                          {{/each}} 

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                
              
            </div>
            
        </div>
      </div>

    </div>
      
  </div>

</div>
    
<script src="/dist/js/adminlte.min.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/adminlte.js"></script>
<script src="/plugins/select2/js/select2.full.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
  $(function () {
    $("#Table1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });

  $(function () {
    $("#Table2").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });

  $(function () {
    $("#Table3").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>

<script>
  $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>