
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-left">
                <!-- <li class="breadcrumb-item"><a href="#">Главная</a></li> -->
                <li class="breadcrumb-item active">Резерв</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <!-- Tables -->
            <div class="col-12">
              <div class="card card-success">
                  <div class="card-header">
                      <h3 class="card-title">Товары в наличии на складе (Без дополнительной услуги) </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <table id="Table1" class="table table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th>№</th>
                                  <th>Наименование Продкции</th>
                                  <th>Рисунок</th>
                                  <th>Сорт</th>
                                  <th>Код продукта</th>
                                  <th>Кол-во</th>
                                  <th>Цена (UZS)</th>
                                  <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </thead>

                          <tbody>
                          
                            {{#each available_products }}
                              
                              <tr>
                                
                                <td>{{id}}</td>
                                <td>{{product_name}}</td>
                                <td>{{drawing}}</td>
                                <td>{{sort}}</td>
                                <td>{{overall_code}}</td>
                                <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                                {{#if price}}
                                <td>{{currencyFormat price}}</td>
                                <td class="text-info text-bold">{{currencyFormat (math  available_quantity "*" price)}}</td>
                                {{/if}}
                              
                              </tr>
                            
                            {{/each}} 

                          </tbody>
                          <tfoot>
                              <tr>
                                <th>№</th>
                                <th>Наименование Продкции</th>
                                <th>Рисунок</th>
                                <th>Сорт</th>
                                <th>Код продукта</th>
                                <th>Кол-во</th>
                                <th>Цена (UZS)</th>
                                <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
                  <!-- /.card-body -->
              </div>
            </div>

            <div class="col-12">
              <div class="card card-danger">
                  <div class="card-header">
                      <h3 class="card-title">Товаров нет в наличии на складе (без дополнительной услуги)</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <table id="Table2" class="table table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th>№</th>
                                  <th>Наименование Продкции</th>
                                  <th>Рисунок</th>
                                  <th>Сорт</th>
                                  <th>Код продукта</th>
                                  <th>Кол-во</th>
                                  <th>Цена (UZS)</th>
                                  <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </thead>

                          <tbody>
                          
                            {{#each not_available_products }}
                              
                              <tr>
                                
                                <td>{{id}}</td>
                                <td>{{product_name}}</td>
                                <td>{{drawing}}</td>
                                <td>{{sort}}</td>
                                <td>{{overall_code}}</td>
                                <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                                {{#if price}}
                                <td>{{currencyFormat price}}</td>
                                <td class="text-info text-bold">{{currencyFormat (math  available_quantity "*" price)}}</td>
                                {{/if}}
                              
                              </tr>
                            
                            {{/each}} 

                          </tbody>
                          <tfoot>
                              <tr>
                                <th>№</th>
                                <th>Наименование Продкции</th>
                                <th>Рисунок</th>
                                <th>Сорт</th>
                                <th>Код продукта</th>
                                <th>Кол-во</th>
                                <th>Цена (UZS)</th>
                                <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
                  <!-- /.card-body -->
              </div>
            </div>

            <div class="col-12">
              <div class="card card-info">
                  <div class="card-header">
                      <h3 class="card-title">Товары с дополнительными услугами</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <table id="Table3" class="table table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th>№</th>
                                  <th>Наименование Продкции</th>
                                  <th>Рисунок</th>
                                  <th>Сорт</th>
                                  <th>Доп. услуга</th>
                                  <th>Код продукта</th>
                                  <th>Кол-во</th>
                                  <th>Цена (UZS)</th>
                                  <th>Цена с доп. услугой(UZS)</th>
                                  <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </thead>

                          <tbody>
                          
                            {{#each add_service_products }}
                              
                              <tr>
                                
                                <td>{{id}}</td>
                                <td>{{product_name}}</td>
                                <td>{{drawing}}</td>
                                <td>{{sort}}</td>
                                <td class="text-bold">{{Additional_Service.name}}</td>
                                <td>{{overall_code}}</td>
                                <td class="text-success text-bold">{{currencyFormat available_quantity}}</td>
                                {{#if price}}
                                <td>{{currencyFormat price}}</td>
                                {{/if}}
                                <td class="text-bold">{{currencyFormat (math price "+" Additional_Service.price)}}</td>
                                {{#if price}}
                                <td class="text-info text-bold">
                                  {{currencyFormat (math  available_quantity "*" (math price "+" Additional_Service.price))}}
                                </td>
                                {{/if}}
                              
                              </tr>
                            
                            {{/each}} 

                          </tbody>
                          <tfoot>
                              <tr>
                                <th>№</th>
                                <th>Наименование Продкции</th>
                                <th>Рисунок</th>
                                <th>Сорт</th>
                                <th>Доп. услуга</th>
                                <th>Код продукта</th>
                                <th>Кол-во</th>
                                <th>Цена (UZS)</th>
                                <th>Цена с доп. услугой(UZS)</th>
                                <th>Общая Стоимость (UZS)</th>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
                  <!-- /.card-body -->
              </div>
            </div>

            
            














          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
 
  </div>
  <!-- ./wrapper -->

   
  <!-- REQUIRED SCRIPTS -->
  <script src="/dist/js/adminlte.min.js"></script>

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src="/dist/js/adminlte.js"></script>
  

  <!-- OPTIONAL SCRIPTS -->
  <script src="/plugins/chart.js/Chart.min.js"></script>
  <script src="/dist/js/pages/dashboard3.js"></script>

  <!-- Select2 -->
  <script src="/plugins/select2/js/select2.full.min.js"></script>
  <!-- DataTables -->
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

  <script>
    $(function () {
      $("#Table1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
    });

    $(function () {
      $("#Table2").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
    });

    $(function () {
      $("#Table3").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
    });
  </script>