<div class="content-wrapper">
  
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="/warehouse/warehouse-check-reserve">Резерв</a></li>
            <li class="breadcrumb-item active">История Пополненения Склада</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
      
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">История пополнения</h3>
              </div>
              <div class="card-body">
                <table id="supplementTable" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>№</th>
                          <th>Продукт</th>
                          <th>Рисунок</th>
                          <th>Сорт</th>
                          <th>Код продукта</th>
                          <th>Добавленное кол-во</th>
                          <th>Итоговая цена (UZS)</th>
                          <th>Дата Пополненения</th>
                      </tr>
                  </thead>

                  <tbody>
                      
                      {{#each story}}
                      <tr>
                          <td>{{id}}</td>
                          <td>{{Product.product_name}}</td>
                          <td>{{Product.drawing}}</td>
                          <td>{{Product.sort}}</td>
                          <td>{{Product.overall_code}}</td>
                          <td class="font-weight-bold">{{currencyFormat added_quantity}}</td>
                          <td class="font-weight-bold">{{currencyFormat overall_price}}</td>
                          <td>{{formatTime added_date "YYYY-MM-DD"}}</td>
                      </tr>
                    
                    {{/each}}
                        
                  </tbody>


                  {{!-- <tfoot>
                      <tr>
                        <th>№</th>
                        <th>Продукт</th>
                        <th>Код продукта</th>
                        <th>Добавленное кол-во</th>
                        <th>Итоговая цена (UZS)</th>
                        <th>Дата Пополненения</th>
                      </tr>
                  </tfoot> --}}
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
      
</div>
  
  <script src=" /dist/js/adminlte.min.js"></script>
  <script src=" /plugins/jquery/jquery.min.js"></script>
  <script src=" /plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src=" /dist/js/adminlte.js"></script>
  <script src=" /plugins/chart.js/Chart.min.js"></script>
  <script src=" /dist/js/pages/dashboard3.js"></script>
  <script src=" /plugins/select2/js/select2.full.min.js"></script>
  <script src=" /plugins/datatables/jquery.dataTables.min.js"></script>
  <script src=" /plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src=" /plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src=" /plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

  <script>
    $(function () {
      $("#supplementTable").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
    });
  </script>